<div class="rounded-xl overflow-hidden flex justify-center min-h-[65vh] items-center w-full"
    style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 100%), url('https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center;">
    <div class="flex items-start p-12 flex-col w-full gap-12">
        <h2 class="text-[#FAA92C] text-6xl font-bold mb-4">20%<br>Discount</h2>
        <p class="text-white text-3xl mb-2 font-bold">For Every Purchase</p>
        <p class="text-white text-2xl font-bold">This Season</p>
    </div>
</div>