{% load static %}
<div class="w-full flex items-center justify-center my-12 ">
    <div
        class="w-full bg-[rgb(35,31,32)] min-h-[60vh] p-6 py-8 flex justify-between  rounded-2xl shadow-xl overflow-hidden ">
        <div class="w-2/3 p-5 flex flex-col w-full max-w-[50rem] ps-8 justify-center">
            <h2 class="text-3xl font-bold text-white">Make Us Your Number</h2>
            <div class="flex  mt-2 flex-col">
                <div class="text-[#FAA92C] font-black text-[12rem]">01</div>
                <div class="md:text-3xl text-xl leading-loose">
                    <p class="text-white font-semibold">Supplier To All Your Safety Equipments And Materials that You
                        May Need...</p>
                </div>
            </div>
            <a href="#"
                class="mt-5 w-full max-w-fit  px12 py-4 leading-none bg-[#FAA92C] font-semibold px-6  rounded hover:bg-yellow-600 focus:outline-none focus:ring">Explore
                Our Products</a>
        </div>
        <div
            class="w-1/3 images relative skew-x-3 hidden md:block rounded-3xl bg-[#FAA92C] mx-36 -rotate-6 -translate-y-28 md:-translate-y-0">
            <img class="absolute top-0 w-full h-full rotate-6 scale-100 rounded-3xl object-cover -skew-x-3  "
                src="{% static 'shop/images/hero-item1.png' %}"
                alt="A construction worker with a yellow helmet and high visibility vest, giving a thumbs up">
        </div>
    </div>
</div>


