{% load django_browser_reload %}
{% load compress %}
{% load static %}
{% load seo_generator %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution Enterprise | produits disponible partout au cameroun</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'shop/src/output.css' %}">
    {% endcompress %}
    {% django_browser_reload_script %}
</head>

<body>

    {% block content %}
    {% endblock %}

</body>

{% block script %}
{% endblock %}

</html>